<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./home.component.css" />
</head>
<body>

<!-- bar -->
<div id="letbar">
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/bags">Bags</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
   
  </ul>
</div>
<div id="yourbag">Create your bag</div>


<!-- botón login -->
    <div id="centro">
    <img src="https://i.pinimg.com/564x/25/fa/2e/25fa2e46b96520df74e84cd5e7b7c187.jpg"> 
    </div>



</body>
</html>
