<!-- bar -->
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/bags">Bags</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
   
  </ul>


  <!-- imagenes -->
<div id="img4">
<img src="https://i.pinimg.com/564x/2f/bf/c8/2fbfc885e30e8e816c40b00abbb8ca92.jpg" class="rounded float-left" alt="...">
<img src="https://i.pinimg.com/564x/6e/20/a0/6e20a0ea95159c17569b0896a5def698.jpg" class="rounded float-right" alt="...">

</div>



